@import './mixins.scss';
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    border-radius: 30px;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s linear 0s;
    margin: 10px 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    @include mquery(wrap) {
        min-width: 200px;
        min-height: 60px;
        font-size: 14px;
        padding: 23px 40px;
    }
    @include mquery(mobile) {
        min-width: 160px;
        max-width: 100%;
        min-height: 0;
        width: auto;
        height: auto;
        font-size: 11px;
        margin: 20px 0;
        height: 50px;
        padding: 0 23px;
    }
    &.yellow-btn {
        background: $yellow;
        &:hover {
            background: $theme-color
        }
    }
    &.pink-btn {
        background: #f48670
    }
}

.button__red {
    @extend .button;
    background: $theme-color;
    &:hover {
        background: $yellow;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $base-color;
    font-weight: 600;
    line-height: 1.2;
    word-break: break-word;
}

p,
span {
    color: $base-color-two;
    margin-bottom: 15px;
}

section {
    position: relative;
}

.heading {
    margin-bottom: 30px;
    font-size: 36px;
    position: relative;
    line-height: 0.85;
    font-weight: 600;
    @include mquery(wrap) {
        font-size: 48px;
    }
}

.heading__small {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $theme-color;
    margin: 10px 0;
}

.banner__inner-heading {
    font-size: 54px;
    line-height: 0.8;
    position: relative;
    color: #fff;
    font-weight: 100;
    text-align: center;
    strong {
        font-weight: 900;
    }
    @include mquery(wrap) {
        font-size: 100px;
        padding-bottom: 35px;
    }
}

.theme-color {
    color: $theme-color;
}

.black {
    color: #000!important;
}

.white {
    color: #fff!important;
}

.pink {
    color: $pink!important;
}

.red {
    color: $theme-color!important;
}

.yellow {
    color: $yellow!important;
}

.link {
    color: #000;
    transition: all 0.4s;
    text-decoration: none;
    &:hover {
        color: $theme-color;
    }
}

.link-pink {
    @extend .link;
    &:hover {
        color: $pink;
    }
}

.link-yellow {
    @extend .link;
    &:hover {
        color: $yellow;
    }
}

.pointer {
    pointer-events: none;
}

.center {
    text-align: center!important;
}

.border-line {
    border: 1px solid #e5e5e5;
}

.slick-track {
    margin-left: 0 !important;
    align-items: inherit;
    display: flex !important;
}

.slick-list {
    width: 100% !important;
}

.slick-slide {
    height: auto !important;
}

.overflow-hidden {
    overflow: hidden;
    background: rgb(0, 0, 0, 0.6);
    header,
    main,
    section {
        background: rgb(0, 0, 0, 0.6);
    }
}