footer {
    background: #fff;
    padding: 10px 0;
    margin-bottom: 800px;
    font-family: $font-base;
}

.footer_text {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}