#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $yellow;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all 0.4s;
    &::before {
        content: '';
        position: absolute;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        left: 26px;
        top: 29px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}

#myBtn:hover {
    transform: translateY-(5px);
}